.iyappaa-footer {
  background: white;
  padding: 60px 40px 30px;
  font-family: 'Segoe UI', sans-serif;
  color: #000;
}

.footer-main {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
}

.footer-left {
  flex: 1 1 240px;
}

.footer-logo {
  width: 140px;
  margin-bottom: 10px;
}

.footer-tagline {
  font-size: 14px;
  color: gray;
  margin-bottom: 5px;
}

.footer-contact {
  font-size: 14px;
  margin-bottom: 5px;
}

.red-text {
  color: #d40000;
}

.footer-column {
  flex: 1 1 200px;
}

.footer-column h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column li {
  font-size: 14px;
  margin-bottom: 6px;
  color: gray;
}

.footer-bottom {
  margin-top: 40px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
  text-align: center;
}

.footer-social {
  display: flex;
  justify-content:flex-start;
  gap: 20px;
  font-size: 20px;
  margin-top: 10px;
}

.footer-social svg {
  color: #555;
  transition: color 0.3s;
}

.footer-social svg:hover {
  color: #d40000;
}

.footer-policies {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
  color: #d40000;
  margin-bottom: 10px;
  text-align: start;
}

.footer-payments{
  display:flex;
  justify-content: end;
}

.footer-payments img {
  width: 150px;
}

.footer-copyright {
  font-size: 12px;
  color: #777;
}
